.HomePage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f8f9fa;
}


#about-us {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5em;
    text-align: center;
    padding: 50px;
}

#services {
    background-image: url("https://kleinfeldagain.com/cdn/shop/files/buyer_side_p.jpg?v=1732552932&width=2000");
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.5em;
    text-align: center;
    padding: 50px;
    color: rgb(2, 2, 2);
}

#home {
    margin-bottom: 50px;
    font-size: 1.5em;
    text-align: center;
    padding: 50px;
    background-color: crimson;
}