/* src/css/Moodboard.css */
.moodboard-container {
    text-align: center;
    padding: 100px 20px;
  }
  
  .moodboard-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .remove-btn {
    background: rgb(21, 255, 0);
    color: white;
    
    
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    margin-top: auto; /* Joga o botão mais para cima dentro do container */
    border: 30px;
  }
  